@import 'slick-carousel/slick/slick.css';

@import "bootstrap/dist/css/bootstrap.css";
@import 'antd/dist/antd.css';


@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Regular.eot');
  src: url('../fonts/Canela-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Canela-Regular.woff2') format('woff2'),
    url('../fonts/Canela-Regular.woff') format('woff'),
    url('../fonts/Canela-Regular.ttf') format('truetype'),
    url('../fonts/Canela-Regular.svg#Canela-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UTM A&S Heartbeat';
  src: url('../fonts/UTMASHeartbeat.eot');
  src: url('../fonts/UTMASHeartbeat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UTMASHeartbeat.woff2') format('woff2'),
    url('../fonts/UTMASHeartbeat.woff') format('woff'),
    url('../fonts/UTMASHeartbeat.ttf') format('truetype'),
    url('../fonts/UTMASHeartbeat.svg#UTMA&SHeartbeat') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-lato: 'Lato', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-Canela: 'Canela';
  --font-utm: 'UTM A&S Heartbeat';
  --color-1: #FB8500;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--color-1);
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: var(--color-1);
    border-color: var(--color-1);
  }

  .ant-checkbox-checked::after {
    border-color: var(--color-1);
  }
}

body {
  font-family: var(--font-body);
  line-height: 22px;
}

.img_hover {
  overflow: hidden;

  img {
    transition: all .3s ease;
  }

  &:hover {
    img {
      transform: scale(1.3);
    }
  }
}

.img_hover1 {
  overflow: hidden;

  .--img {
    img {
      transition: all .3s ease;
    }
  }

  &:hover {
    .--img {
      img {
        transform: scale(1.3);
      }
    }
  }
}

.container-fluid {
  padding: 0 8%;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 24px 0;
  transition: all .15s ease;

  &.change {
    padding: 12px 0;
    background: #082740;
  }

  .logo {
    img {
      max-width: 170px;
      max-height: 60px;
    }
  }

  .menu {
    a {
      text-decoration: none;
      color: #FFF !important;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      padding: 20px 0;
    }

    .--item-menu {
      margin: 0 12px;
      color: #FFF !important;

      a {
        text-decoration: none;
        color: #FFF !important;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
        padding: 20px 0;
      }

      &.active {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -20px;
          left: 0;
          width: 100%;
          border-bottom: 2px solid #FFFFFF;
        }

        a {
          font-weight: 700;
        }
      }
    }
  }

  .search {
    position: relative;
    margin-right: 20px;

    input {
      width: 150px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 500px;
      height: 28px;
      padding: 0 30px 0 12px;
      border: none;
      font-size: 12px;
      color: #FFF;

      &::placeholder {
        font-size: 12px;
        color: #FFF;
      }

      &:focus {
        box-shadow: 0 0 0 1px #FFF;
      }
    }

    i {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translate(0, -50%);
      color: #FFF;
      font-size: 14px;
      pointer-events: none;
    }
  }

  .language {
    color: #FFF;

    img {
      width: 25px;
    }

    .select {
      position: relative;



      i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        font-size: 12px;
      }
    }

    select {
      background: none;
      border: none;
      color: #FFF;
      font-size: 12px;
      padding: 0 12px 0 6px;

      &:focus {
        background: none;
        box-shadow: none;
        color: #FFF;
      }

      option {
        color: #000;
      }
    }
  }

  &.white {
    background: #FFF !important;

    .--item-menu {
      a {
        color: #5C626A !important;
      }

      &.active {
        &::after {
          border-bottom: 2px solid #5C626A;
        }
      }
    }

    .search {
      input {
        border: 1px solid #DCDCDC;

        &::placeholder {
          color: #D1D1D1;
        }
      }

      i {
        color: #5C626A;
      }
    }

    .language {
      color: #5C626A;

      select {
        color: #5C626A !important;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 12px 0 !important;
    background: #082740 !important;

    .menu_mobi {
      position: fixed;
      top: 0;
      opacity: 0;
      width: 80%;
      display: flex !important;
      top: 74px;
      height: calc(100vh - 74px);
      transition: all .3s ease;
      flex-flow: column;
      background: #082740;
      left: 0;
      pointer-events: none;
      transform: translate(-150px, 0);
      padding: 2rem 1rem 0;

      .language {
        margin-bottom: 1.5rem;

        .select {
          font-size: 16px;
        }
      }

      .menu {
        display: flex !important;
        flex-flow: column;

        .--item-menu {
          margin: 0;
          border-bottom: 1px solid #ffffff69;

          &.active {
            &::after {
              display: none;
            }
          }

          a {
            font-size: 16px;
            width: 100%;
            display: flex;
            padding: 1rem 0;
          }
        }
      }

      &.active {
        opacity: 1;
        transform: none;
        pointer-events: auto;
      }
    }

    .logo {
      img {
        max-height: 50px;
      }
    }

    .header_right {
      display: none !important;
    }

    .search {
      &.mobi {
        display: flex !important;
        width: 32px;
        height: 32px;
        margin-right: 0;

        i {
          left: 50%;
          transform: translate(-50%, -50%);
          width: max-content;
          transition: all .3s ease;
        }

        input {
          width: 100%;
          height: 32px;
          padding: 0;
          transition: all .3s ease;
        }

        &.active {
          input {
            width: 180px;
            position: absolute;
            right: 0;
            top: 0;
            background: #FFF;

          }

          i {
            right: 150px;
            color: #082740;
            left: unset;
          }
        }
      }
    }

    .menu {
      display: none !important;
    }

    .tab-menu {
      display: flex !important;
      flex-flow: column;

      p {
        width: 28px;
        height: 2px;
        transition: all .15s ease;
        background: #FFF;
        margin-bottom: 4px;
      }

      &.active {
        p {
          &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 6px);
          }

          &:nth-child(2) {
            width: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(2px, -3px);
          }
        }
      }
    }
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.social {
  position: fixed;
  bottom: 40px;
  right: 36px;
  display: flex;
  flex-flow: column;
  z-index: 99;

  a {
    background: #FFF;
    position: relative;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 8px;
    color: var(--color-1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

    &:nth-child(3) {
      animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    }
  }
}

.slick-dots {
  list-style: none;
  display: flex !important;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;

  button {
    opacity: 0;
  }

  li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 6px;
    background: #D9D9D9;

    &.slick-active {
      background: var(--color-1);
    }
  }

  @media (max-width: 768px) {
    li {
      width: 8px;
      height: 8px;
      margin: 0 4px;
    }
  }
}

.button_1 {
  background: var(--color-1);
  height: 40px;
  padding: 0 48px;
  border-radius: 100px;
  border: none;
  color: #FFF;
}

.button_2 {
  height: 44px;
  color: var(--color-1) !important;
  font-weight: 500;
  border: 1px solid var(--color-1);
  background: rgba(251, 133, 0, 0.1);
  border-radius: 100px;
  backdrop-filter: blur(2px);
  display: flex;
  width: max-content;
  align-items: center;
  text-decoration: none;
  padding: 0 35px;
}

.button_hover1 {
  position: relative;
  transition: all 0.5s ease;
  z-index: 9;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    border-radius: 100px;
    z-index: -1;
    border: 1px solid var(--color-1);
    transition: all 0.5s ease;
    transform: scale(0);
    opacity: 0;
  }

  &:hover {
    color: var(--color-1) !important;
    border: none !important;

    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.button_hover2 {
  position: relative;
  transition: all 0.5s ease;
  z-index: 9;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: var(--color-1);
    border-radius: 100px;
    z-index: -1;
    border: 1px solid var(--color-1);
    transition: all 0.5s ease;
    transform: scale(0);
    opacity: 0;
  }

  &:hover {
    color: #FFF !important;
    border: none !important;

    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
  pointer-events: auto;

  &.nextarrow {
    left: calc(100% + 16px);
    display: flex;
  }

  &.prevarrow {
    right: calc(100% + 16px);
    display: flex;
  }

  @media (max-width: 768px) {
    &.nextarrow {
      left: calc(100% - 45px);

    }

    &.prevarrow {
      right: calc(100% - 45px);

    }
  }
}

.arrow_hover {
  transition: all 0.5s ease;
  z-index: 9;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: var(--color-1);
    border-radius: 100px;
    z-index: -1;
    border: 1px solid var(--color-1);
    transition: all 0.5s ease;
    transform: scale(0);
    opacity: 0;
  }

  &:hover {
    color: #FFF !important;
    border: none !important;

    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.subTitle {
  color: var(--color-1);
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.Title {
  font-size: 52px;
  font-family: var(--font-Canela);

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

footer {
  .footer_Logo {
    padding: 110px 0;
    border-bottom: 1px solid #DCDCDC;

    .list_logo {
      .--img {
        width: calc(100%/7);
        display: flex;
        justify-content: center;
      }

      img {
        max-width: 60%;
        max-height: 80px;
      }
    }
  }

  .footer {

    padding: 100px 0;

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }

    .footer_link1 {
      width: 18%;
    }

    .footer_link2 {
      width: 20%;
    }

    .footer_form {
      width: 20%;
      font-size: 14px;

      .--des {
        margin-bottom: 1.5rem;
      }

      .--email {
        position: relative;
        width: max-content;
        margin-bottom: 24px;

        input {
          height: 40px;
          width: 200px;
          background: #FFFFFF;
          border: 1px solid #EDEDED;
          border-radius: 100px;
          padding: 0 40px 0 12px;

          &:focus {
            outline: none;
          }

          &:focus-visible {
            outline: none;
          }
        }

        button {
          position: absolute;
          top: 50%;
          right: 4px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: var(--color-1);
          color: #FFF;
          border: none;
          transform: translate(0, -50%);
        }
      }

      .--follow {
        span {
          margin-bottom: 12px;
        }

        ul {
          display: flex;

          li {
            margin-right: 12px;
          }

          a {
            color: #023047;
            transition: all .15s ease;

            &:hover {
              color: var(--color-1);
            }
          }
        }
      }
    }

    .--title {
      position: relative;
      font-family: var(--font-Canela);
      margin-bottom: 42px;
      font-weight: 600;

      &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: -16px;
        width: 40px;
        border-bottom: 2px solid var(--color-1);
      }
    }

    .footer_info {
      width: 30%;

      ul {
        li {
          display: flex;
          margin-bottom: 8px;
          font-size: 14px;

          &:nth-child(1) {
            text-transform: uppercase;
          }

          &:nth-child(3) {
            color: var(--color-1);

            a {
              color: var(--color-1);
              transition: all .15s ease;

              &:hover {
                color: #40B8EA;
              }
            }
          }

          &:nth-child(4) {
            a {
              color: #343434;
              transition: all .15s ease;

              &:hover {
                color: var(--color-1);
              }
            }
          }
        }

        a {
          display: flex;
        }

        .--txt {
          display: flex;
        }

        i {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          background: rgba(0, 0, 0, 0.15);
          border-radius: 50%;
          flex: 0 0 auto;
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }

    .footer_link {
      font-size: 14px;

      a {
        color: rgb(52 52 52 / 80%);
        transition: all .15s ease;

        &:hover {
          color: var(--color-1);
        }
      }

      li {
        margin-bottom: 12px;
      }

      i {
        margin-right: 12px;
        color: rgb(52 52 52 / 50%);
      }

    }
  }

  .footer_bot {
    padding: 40px 0;
    background: var(--color-1);
    color: #FFF;
    font-size: 14px;

    .--left {
      a {
        position: relative;
        margin-left: 20px;
        text-decoration: none;
        color: #FFF;
        transition: all .15s ease;

        &:hover {
          color: #40B8EA;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          border-left: 1px solid #FFFFFF;
          opacity: .2;
          height: 16px;
          right: calc(100% + 10px);
        }
      }
    }

    .--right {
      .--item {
        margin-left: 28px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          border-left: 1px solid #FFFFFF;
          opacity: .2;
          height: 16px;
          right: calc(100% + 14px);
        }

        &:first-child {
          margin-left: 0;

          &::before {
            display: none;
          }
        }

        img {
          margin-right: 6px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .footer {
      flex-flow: column;
      padding: 1.5rem 0;

      .--title {
        margin-bottom: 32px;
      }

      .footer_link {
        width: 100%;
        margin-bottom: 1.5rem;

        li {
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .footer_info {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      .footer_form {
        width: 100%;
      }
    }

    .footer_bot {
      padding: 24px 0;

      .--content {
        flex-flow: column;

        .--left {
          flex-flow: column;

          span {
            margin-bottom: 8px;
          }

          a {
            margin-bottom: 8px;

            &:first-child {
              margin-left: 0;

              &::before {
                display: none;
              }
            }
          }

          .--link {
            flex-wrap: wrap;
            justify-content: center;
          }
        }

        .--right {
          justify-content: center;
        }
      }
    }
  }
}

.marker-content {
  flex-direction: column;

  span {
    width: 100%;
  }

  img {
    width: 100%;

    object-fit: cover;
  }
}

.Banner {

  position: relative;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
    width: 100%;
    height: 425px;
    filter: brightness(0.7)
  }

  .--Item {
    position: absolute;
    align-items: center;
    display: inherit;
    flex-direction: column;

    h1 {
      font-family: 'Canela';
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 90px;
      color: #FFF;
      margin: 0;
    }
  }

  .breadcrumb {
    justify-content: center;
    color: #FFF;
    align-items: center;
    margin-bottom: 0;
    margin-top: 20px;

    span,
    a {
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    a {
      color: #FFF;
    }

    a:hover {
      color: #FB8500;
    }

    span {
      color: #FB8500;
    }

    .devider {
      font-size: 12px;
      margin: 0 24px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 74px;

    img {
      height: 300px;
    }

    .--Item {
      h1 {
        font-size: 42px;
        line-height: 48px;
      }

      a,
      span {
        font-size: 14px;
      }

      .breadcrumb {
        margin-top: 12px;
      }

      .devider {
        margin: 0 12px;
      }
    }
  }
}

.Info {
  align-items: center;

  span.type {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FB8500;
    margin: 0;
  }

  span.view,
  span.date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5C626A;

    i {
      font-size: 12px;
      margin-right: 6px;
    }
  }

  .divider {
    color: #2C2C2C;
    font-size: 5px;
    margin: 0 14px;
  }
}

// pagination
.ant-pagination {
  display: flex;
  justify-content: center;

  align-items: baseline;

  i {
    color: #5E5E5E;
    font-size: 12px;
  }

  .ant-pagination-item-active {
    padding: 2px 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #FB8500;
    border-radius: 4px;
  }

  li {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #181818;
    margin-right: 5px;

    &:hover {
      a {
        color: unset
      }
    }

  }
}

.play {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FFF;
  color: var(--color-1);
  font-size: 20px;
  text-decoration: unset;

  &:hover {
    color: var(--color-1);
  }

  &::after {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid var(--color-1);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    content: '';
  }
}

.cardbook {
  .--schedule {
    padding: 40px;
    border: 1px dashed #D1D1D1;
    border-radius: 6px;
    margin-bottom: 30px;
    background: #FFF;

    h3 {
      font-family: var(--font-Canela);
      font-weight: 600;
      font-size: 27px;
      margin-bottom: 20px;
    }

    .--tab {
      margin-bottom: 20px;

      .--item {
        margin-right: 18px;

        &.active {
          font-weight: 600;
          color: var(--color-1);
        }
      }
    }

    .form {
      .form-group {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .--select {
        position: relative;

        .--icon {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          left: 1rem;

          img {
            width: 18px;
          }
        }

        select {
          border: 1px solid #DCDCDC;
          border-radius: 6px;
          width: 100%;
          height: 48px;
          padding-left: 40px;
          box-shadow: none;
          font-size: 14px;
        }

        i {
          position: absolute;
          font-size: 14px;
          top: 50%;
          transform: translate(0, -50%);
          right: 1rem;
          pointer-events: none;
        }
      }

      label {
        font-weight: 600;
        margin-bottom: 4px;
      }
    }

    button {
      font-size: 18px;
      margin: 20px auto 0;
      width: 100%;
      display: flex;
      align-items: center;
      height: 50px;
      font-weight: 600;
      justify-content: center;

      i {
        margin-right: 1rem;
      }
    }
  }

  .--map {
    margin-bottom: 30px;

    iframe {
      width: 100%;
    }
  }

  .--endow {
    position: relative;

    .--img {
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .--txt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px;

      span {
        text-transform: uppercase;
        margin-bottom: 6px;
      }

      h2 {
        font-size: 36px;
        color: var(--color-1);
        font-family: var(--font-Canela);
        margin-bottom: 1rem;
      }
    }
  }
}

.tour {
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

  img {
    width: 100%;
    object-fit: cover;
    height: 220px;
  }

  &>div {
    padding: 20px 16px;

    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #181818;
      margin-bottom: 10px;

    }

    &>span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;

      color: #6F7378
    }


    &>.divider {
      margin: 10px 0;
      border: 1px solid #DCDCDC;
    }

    .Info {

      font-size: 12px;
      line-height: 16px;
      color: #6F7378;
    }


  }
}

.hotel {
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);



  .--warpper {
    width: 48%;
    position: relative;

    div {
      width: 50%;
    }

    img {
      height: 178px;
      width: 100%;
      object-fit: cover;
    }

    .--ribbon {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 10px;
      gap: 6px;

      position: absolute;
      width: 139px;
      height: 28px;
      left: 11px;
      top: 11px;

      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;

      img {
        width: 16px !important;
        height: 16px !important;
        object-fit: cover;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
      }


    }

    .--item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 5px;
      gap: 12px;

      position: absolute;
      width: 32px;
      height: 32px;
      right: 8px;
      top: 8px;

      background: #FFFFFF;
      border: 1px solid #EFEFEF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 100px;

      i {
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
        color: #FB8500;
      }
    }

    .--dots {
      position: absolute;
      color: white;
      bottom: 0;
      font-size: 6px;
      width: 100%;
      justify-content: center;
      list-style: none;
      margin: 0%;
      padding: 0;

      i {
        margin: 0 5px;
      }
    }
  }

  .--item {
    width: 52%;
    padding: 12px 24px;
    flex-direction: column;

    h5 {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #1C1C1C;
    }

    .--andress {
      i {
        color: #6F7378;
        font-size: 12px;
        margin-right: 6px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;

        color: #6F7378;
      }
    }



  }


}

.restaurant {
  cursor: pointer;
  flex-direction: column;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

  .img-wrapper {
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 167px;
    }

    .--ribbon {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 10px;
      gap: 6px;

      position: absolute;
      width: 139px;
      height: 28px;
      left: 10px;
      top: 10px;

      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;

      img {
        width: 16px !important;
        height: 16px !important;
        object-fit: cover;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
      }


    }

    .--item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 5px;
      gap: 12px;

      position: absolute;
      width: 32px;
      height: 32px;
      right: 17px;
      top: 8px;

      background: #FFFFFF;
      border: 1px solid #EFEFEF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 100px;

      i {
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
        color: #FB8500;
      }
    }


  }

  .--cotent {
    padding: 24px;

    h5 {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #1C1C1C;
    }

    .--andress {
      i {
        color: #6F7378;
        font-size: 12px;
        margin-right: 6px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;

        color: #6F7378;
      }

      margin-bottom: 8px;
    }
  }
}

.ranks {
  margin-top: auto;


  &>div {
    display: flex;

    padding: 0 2px;
    align-items: baseline;

    border: 1px solid #DCDCDC;
    border-radius: 4px;

    span {
      margin-left: 2px;
    }

  }

  /* Line */

  .views {
    font-size: 12px;

    line-height: 16px;
    margin-left: 8px;

    color: #6F7378;
    display: flex;

    align-items: center;

    i {
      font-weight: 900;
    }

  }

  li {
    margin-right: 1px;

  }



  .ant-rate-star {
    height: fit-content;

    svg {
      width: 14px;
      height: 16px;
    }
  }
}

.marker-container {
  flex-direction: column;
  align-items: center;

  i {
    color: #FFD600;
    font-size: 20px;
  }

  .--item {
    width: 137px;
    height: 147px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 9px;
  }

}